{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Delete Listing | Milkify</title>
{% endblock title %}

{% block content %}

<div class="container-fluid mx-auto d-flex align-items-center padding-8-6 min-h">
  <div class="card w-60 mx-auto">
    <div class="card-body p-0 px-auto pb-0">
      <div class="row-6 p-5">
        <div class="col-6 offset-3">
          <img src="/static/images/delete-listing.svg">
        </div>


        <div class="col-6 offset-3 p-5">
          <h6 class="h6" data-max-width="500">Are you sure you want to delete your listing?</h6>

          <form action="delete-listing" method="post">
            {% csrf_token %}
            <input type="hidden" name="action_completed" value="true"></input>
            <input type="hidden" name="id" value="{{ id }}"></input>
            <a href="/profile" class="btn btn-success">No, take me back!</a>
            <button type="submit" class="btn btn-danger">Yes, go ahead!</button>
          </form>

        </div>

        {% if messages %}
        <div class="col-6 offset-3 pl-0">
          {% for message in messages %}
          {% if message.tags == 'error'%}
          <div class="alert alert-warning" role="alert">{{ message }}</div>
          {% endif %}
          {% endfor %}
        </div>
        {% endif %}

      </div>





    </div>
  </div>
</div>
{% endblock content %}
