{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Complete your purchase | Milkify</title>
{% endblock title %}

{% block content %}

<div class="main d-flex align-items-center padding-8-6">
  {% if user.user_type == 1 %}
    {% if paid == "true" %}
      <div class="container d-flex min-h" style="padding-left: 10%;">
      <div class="row-12">
      <div class="col-12 mx-2"><img src="/static/images/paid.png" class="w-50"></div>
      <div class="col-12 mx-2">
        <div class="heading-title text-left w-50">
          <span class="h4 text-warning">Payment Successfull</span>
          <p>Your order has been created.</p>
        </div>
      </div>
    </div>
      </div>
    {% else %}
      <div class="container">
      <div class="row">
      <img src="{% static '/images/credit_card.png' %}" style="width: 13rem;" class="mt-3 mx-auto">
      <div class="heading-title text-center mb-3">
        <span class="display-5">Purchase your Subscription</span>
        <p></p>
      </div>
    </div>
      <div class="row">
      <div class="card mx-auto w-75">
        <div class="card-body d-flex p-5">
          <form class="w-100" action="/purchase" method="post" id="purchase">
            {% csrf_token %}

            {% if messages %}
            {% for message in messages %}
            {% if message.tags == 'success'%}
            <div class="alert alert-success" role="alert">{{ message }}</div>
            {% elif message.tags == 'error'%}
            <div class="alert alert-warning" role="alert">{{ message }}</div>
            {% endif %}
            {% endfor %}
            {% endif %}

            <input type="hidden" name="id" value="{{ listing_info.id }}"></input>
            <input type="hidden" name="locality_id" value="{{ listing_info.locality_id }}"></input>
            <input type="hidden" name="seller" value="{{ listing_info.seller }}"></input>
            <input type="hidden" name="locality" value="{{ listing_info.locality }}"></input>
            <input type="hidden" name="total_amount" value="" id="total_amount"></input>


            <input type="hidden" name="submit_form" value="true"></input>

            <h3 class="card-title h5 text-secondary">Your Order</h3>
            <hr>

            <div class="row d-flex">
              <div class="col-6 my-auto">
                <p class="text-dark font-larger my-auto">{{ listing_info.name }} (Sold by {{ listing_info.seller }})</p>
              </div>
              <div class="col-2 my-auto">
                <p class="text-dark font-larger my-auto">₹{{ listing_info.price }}/litre</p>
              </div>
              <div class="col-4 pl-0">
                <div class="form-group col-md-6 mb-0 float-right p-0">
                  <select id="subscription_duration" class="form-control" name="subscription_duration">
                    <option value="1" selected="">1 month</option>
                    <option value="2">2 months</option>
                    <option value="3">3 months</option>
                    <option value="6">6 months</option>
                    <option value="12">12 months</option>
                  </select>
                </div>
              </div>
            </div>

            <hr>
            <h3 class="card-title h5 text-secondary my-3">Shipping Address</h3>


            <div class="form-group">
              <label for="inputAddress">Address</label>
              <input type="text" name="address_1" class="form-control" placeholder="1234 Main St" id="address_1" pattern="^[a-zA-Z0-9 ]+$">
            </div>
            <div class="form-group">
              <label for="inputAddress2">Address 2</label>
              <input type="text" name="address_2" class="form-control" placeholder="Apartment, studio, or floor" id="address_2" pattern="^[a-zA-Z0-9 ]+$">
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputState">Timings</label>
                <select name="timing" class="form-control" id="timings">
                  <option value="Choose..." selected>Choose...</option>
                  <option value="1">7AM</option>
                  <option value="2">8AM</option>
                  <option value="3">9AM</option>
                  <option value="4">10AM</option>
                  <option value="" disabled>==================</option>
                  <option value="5">5PM</option>
                  <option value="6">6PM</option>
                  <option value="7">7PM</option>
                  <option value="8">8PM</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="inputZip">Mobile</label>
                <input type="text" class="form-control" name="mobile" placeholder="10 digit phone number" id="mobile"pattern="^\d{10}$">
              </div>
            </div>

            <hr>
            <h3 class="card-title h5 text-secondary my-3">Payment Details</h3>

            <div class="custom-control custom-radio">
              <input type="radio" id="customRadio1" name="pay_by_account_balance" class="custom-control-input" checked="checked">
              <label class="custom-control-label d-flex" for="customRadio1">Pay by Account Balance (₹<div id="account_balance">{{ userobj.account_balance }}</div>)</label>
            </div>
            <div class="custom-control custom-radio mb-2">
              <input type="radio" id="customRadio2" name="pay_by_card" class="custom-control-input" disabled>
              <label class="custom-control-label" for="customRadio2">Pay by Credit/Debit Card</label>
            </div>

            <hr>
            <h3 class="card-title h5 text-secondary my-3 d-flex">Total Price - ₹<div id="total_price">0</div>
            </h3>

            <button type="submit" id="complete_purchase" class="btn btn-primary">Complete Purchase</button>

            <div id="error_box">
            </div>
          </form>
        </div>
      </div>
    </div>
      </div>
    {% endif %}
  {% else %}
    <div class="container" style="min-height:27rem;">
      <div class="card mx-auto mt-5">
        <div class="card-body d-flex p-5">
          <div class="row">
            <div class="col-sm-12 col-lg-4 col-md-4"><img src="{% static '/images/nothing.png' %}"></div>
            <div class="col-sm-12 col-lg-8 col-md-8 my-auto">
              <div class="heading-title text-left">
                <span class="h4 text-warning">Action Restricted</span>
                <p>Since you are a seller, you are not allowed to purchase any services. Please make a consumer account to purchase this service.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>

{% endblock content %}

{% block javascript %}
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript">
  {% if paid != "true" %}
    ////////////////////////////////////////////////////////////////////////
    $(document).ready(function() {
      $("#total_price").text(total_price());
      $("#total_amount").val(total_price());
    });

    ////////////////////////////////////////////////////////////////////////

    $("#subscription_duration").change(function() {
      var duration_now = $('#subscription_duration option:selected').val();
      $("#total_price").text(total_price());
      $("#total_amount").val(total_price());
    });

    ////////////////////////////////////////////////////////////////////////
    $("form").submit(function(e) {
      var account_balance = {{userobj.account_balance}};
      var account_balance = parseFloat(account_balance);
      var total_price = $("#total_price").text();
      var total_price = parseFloat(total_price);

      var address_1 = $("#address_1").val();
      var address_2 = $("#address_2").val();
      var timings = $("#timings").val();
      var mobile = $('input[name="mobile"]').val();
      intRegex = /[0-9 -()+]+$/;

      if (total_price > account_balance) {
        e.preventDefault();
        $("#error_box").html('<div class="alert alert-warning mt-4" role="alert">You don\'t have enough account balance!</div>');
      } else if ((address_1 == "") || (address_1.length < 6)) {
        e.preventDefault();
        $("#error_box").html('<div class="alert alert-warning mt-4" role="alert">Your Address 1 is empty!</div>');
      } else if ((address_2 == "") || (address_2.length < 6)) {
        e.preventDefault();
        $("#error_box").html('<div class="alert alert-warning mt-4" role="alert">Your Address 2 is empty!</div>');
      } else if ((timings == "Choose...") || timings == "null") {
        e.preventDefault();
        $("#error_box").html('<div class="alert alert-warning mt-4" role="alert">Please select a timing in which your milk should be delivered!</div>');
      } else if ((mobile == "") || (mobile.length < 6) || (!intRegex.test(mobile))) {
        e.preventDefault();
        if ((mobile.length < 10) || (!intRegex.test(mobile))) {
          $("#error_box").html('<div class="alert alert-warning mt-4" role="alert">Your mobile number is not valid!</div>');
        } else {
          $("#error_box").html('<div class="alert alert-warning mt-4" role="alert">Please fill your mobile number!</div>');
        }

      } else {
        $("#error_box").html('');
      }
    });

    //////////////////////////////////////////////////////////////////

    function total_price() {
      var price_per_litre = {{listing_info.price}};
      var months = $('#subscription_duration option:selected').val();

      var total_price = price_per_litre * months * 26;
      return total_price;
    }
  </script>
{% endif %}
{% endblock javascript %}
